<% content_for :title do %> Blog | Forgot your password? <% end %>

<div class="column is-6 is-offset-3">
  <h1 class="title">Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= form.label :email, class: "label" %>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <div class="control">
        <%= form.submit "Send me reset password instructions", class: 'button is-link' %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
